.grid{
 width: 80vw;
 padding: 4rem 0;
 margin: 0 auto;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 justify-content: center;
 gap: 3rem;
}

.only-grid{
 display:grid;
 width: 30%;
 gap: 1rem;
 margin: 0 auto;
}

.flex{
 display: flex;
 justify-content: center;
 gap: 2rem;
 margin: 3rem 0;
}

.card{
 width: 100%;
 border: 0.5px solid gray;
 border-radius: 1rem;
 padding: 1rem;
}

.input{
 padding: 0.4rem;
}

.text-left{
 text-align: left;
}