.center{
 margin: 0 auto;
 display: grid;
 justify-content: center;
}

.header{
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.title{
 color: dodgerblue;
 font-weight: bold;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.container{
 display: flex;
 gap: 2rem;
 width: 800px;
 justify-content: center;
}

.card{
 width: 100%;
 border: 0.5px solid gray;
 border-radius: 1rem;
 padding: 1rem;
}

.color{
 width: 100%;
 height: 5rem;
 border-radius: 0.5rem;
}

.p-4{
 padding: 0.4rem;
}

.grid{
 display:grid;
 width: 30%;
 gap: 1rem;
 margin: 0 auto;
 padding-bottom: 3rem;
}

.text-center{
 text-align: center;
}