.card{
 border: 1px solid gray;
 border-radius: 1rem;
 padding: 1rem;
 margin:1rem;
 text-align: center;
}

.center{
 width: 50vw;
 margin: 0 auto;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 justify-content: center;
}

.text-center{
 text-align: center;
}

.w-full{
 width: 50vw;
 margin:0 auto;
}

.w-5{
 width: 10rem;
 display: block;
 margin:0 auto;
 border-radius: 1rem;
 margin-bottom: 1rem;
}

input{
 width: 50%;
 padding: 0.5rem;
 border: 1px solid gray;
 margin: 0.5rem;
 border-radius: 0.3rem;
}

button{
 margin: 1.5rem 0;
 width: 52%;
 padding: 0.5rem;
}